<!doctype html>
<html data-bs-theme="dark">
  <head>
    <title>{{ title }}</title>
    <!--link href="/static/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/nav.css">
    {% block styles %} {% endblock %}
 
  </head>
  <body>
    {% include "header.html" %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="alert alert-secondary" role="alert">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
