{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/user.css">
{%endblock%}

{% block content %}

<br>

{% include "user/stats.html" %}

<br>

<div class="d-flex">
  {%if username == current_user.username%}
    <a href="{{ url_for('game.add')}}">New</a>
    <a href="/import">Import</a>
    <!--button data-toggle="collapse" data-target="#edit">Edit</button-->
  {% endif %}

  <a href="{{ url_for('platforms.details', username=username)}}">Platforms</a>
  <!--button data-toggle="collapse" data-target="#filter">Filter</button-->
</div>

<!--
{%if username == current_user.username%}
  {% include "user/edit.html" %}
{% endif %}

{% include "user/filter.html" %}
-->

<form id="user" action="" method="post">
<table id="data" class="table table-striped">
<thead>
    <tr>
    <th><input id="select-all" type="checkbox"></th>
    <th>Game</th>
    <th>Platform</th>
    <th>Completion</th>
    <th>Achievements</th>
    <th>Priority</th>
    </tr>
</thead>
<tbody>
    {% for game in games %}
    <tr class="game">
        <td>
            <input form="editform" name="selected" value="{{game.id}}" type="checkbox">
        </td>
        <td>
            <a href="{{ url_for ('game.detail', id=game.id) }}">{{ game.name }}</a>
        </td>
        <td>
            <a href="{{ url_for('user.detail', username=username, platform_id=game.platform_id) }}">{{ game.platform.name }}</a>
        </td>
        <td>
            <div>
                <a href="{{ url_for('user.detail', username=username, completion=game.completion.value) }}">{{ game.completion.name }}</a>
            </div>
        </td>
        <td>
            {% if game.cheev_total > 0 %}
                <div class="box row">
                    <div>{{ game.cheev }}/{{ game.cheev_total }}</div>
                    <progress id="cheev_bar" max="{{game.cheev_total}}" value="{{game.cheev}}"></progress>
                </div>
            {% else %}
            {% endif %}
        </td>
        <td>
            <a href="{{ url_for('user.detail', username=username, priority=game.priority.value) }}">{{ game.priority.name }}</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</form>

{%endblock%}

{% block scripts %}
  <script>
    $('#select-all').click(function(event) {   
        if(this.checked) {
            $('#data :checkbox').each(function() {
                this.checked = true;                        
            });
        } else {
            $('#data :checkbox').each(function() {
                this.checked = false;                       
            });
        }
    }); 
  </script>
{% endblock %}
