<div id="filter" class="collapse">
    <form action="" method="post">
        <div>
            <label for="name">Completion: </label>
            {% for completion in Completion %}
                {% set checked = "checked" if (completion in filter["completion"]) else "" %}
                <input {{checked}} type="checkbox" id="{{completion.name}}" name="completion" value="{{completion.value}}">
                <label for="{{completion.name}}">{{completion.name}}</label>
            {% endfor %}
        </div>
        <div>
            <label for="name">Priority: </label>
            {% for priority in Priority %}
                {% set checked = "checked" if (priority in filter["priority"]) else "" %}
                <input {{checked}} type="checkbox" id="{{priority.name}}" name="priority" value="{{priority.value}}">
                <label for="{{priority.name}}">{{priority.name}}</label>
            {% endfor %}
        </div>
        <div>
            <label for="name">Platform: </label>
            {% for platform in platforms %}
                {% set checked = "checked" if (platform.id in filter["platform_id"]) else "" %}
                <input {{checked}} type="checkbox" id="{{platform.name}}" name="platform_id" value="{{platform.id}}">
                <label for="{{platform.name}}">{{platform.name}}</label>
            {% endfor %}
            </select>
        </div>

        <div>
            <button type="submit">Apply</button>
            <a href="{{ url_for('user.detail', username=username) }}">Reset</a>
        </div>
    </form>
</div>
