{% extends "base.html" %}
{% block content %}
<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(class="form-control") }}
    {{ form.platform.label }} {{ form.platform(class="form-control") }}
    {{ form.completion.label }} {{ form.completion(class="form-control") }}
    {{ form.priority.label }} {{ form.priority(class="form-control") }}
    {{ form.cheev.label }} {{ form.cheev(class="form-control") }}
    {{ form.cheev_total.label }} {{ form.cheev_total(class="form-control") }}
    {{ form.notes.label }} {{ form.notes(class="form-control") }}
    <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
    </div>
</form>
{% endblock %}