{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/game.css">
{%endblock%}

{% block content %}
<div id="sidebar" class="box">
    <div id="boxart" class="row content boxcenter">
        Boxart
    </div>
    <div>
        <select name="Completion" id="completion" class="content boxcenter">
            <option>Beaten</option>
            <option>Started</option>
            <option>Completed</option>
        </select>
    </div>
    <div>
        <ul>
            <li>Platform:<a href="/">{{game.platform.name}}</a></li>
            <li>Released: 20XX</li>
            <li>Rating: M</li>
            <li>Publisher: Nintendon't</li>
        </ul>
    </div>
</div>
<div id="content" class="box">
    <div class="row header">
        <h2>{{game.name}}</h2>
    </div>
    <div class="row content">
        <b>Activity</b>
        <ul>
            <li>2024-01-01: Played for first time</li>
            <li>2025-02-01: Beaten</li>
            <li>2025-03-01: Completed</li>
            <li>2025-08-01: Started new playthrough</li>
            <li>2026-01-01: Beaten</li>
        </ul>
    </div>
    {% if game.cheev_total != 0 %}
        <div class="row content">
            <b>Achievements</b>
            <div>{{game.cheev}} / {{game.cheev_total}}</div>
            <progress id="cheev_bar" max="{{game.cheev_total}}" value="{{game.cheev}}"></progress>
        </div>
    {%endif%}
    <div class="row content">
        <b>Notes</b>
        <p>{{game.notes}}</p>
    </div>
</div>
{% endblock %}
